#grid {
  display:grid;
  grid-template-columns: 260px 1fr;
}
.leftside {
  border-right: 1px solid #efefef;
}
.logo {
  width: 100px;
  height: 100px;
  padding: 14px;
  padding-right: auto;
  padding-left: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sideshadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.rightside {
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.rightside2 {
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
