* {
  font-family: 'Nanum Gothic', sans-serif;
}
#grid {
  display:grid;
  grid-template-columns: 260px 1fr;
}
#grid2 {
  display:grid;
  grid-template-columns: 80px 1fr;
}
.starfont{
  font-size: 26px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #fe8c00;
}
.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media(max-width:1020px){
  .leftside {
    display: none;
  }
  #grid {
    display: grid;
    grid-template-columns: auto;
  }
}
.leftside {
  border-right: 1px solid #efefef;
  padding-right: 16px;
  padding-left: 16px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 100px;
  height: 100px;
  padding: 14px;
  padding-right: auto;
  padding-left: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
.header {
  text-decoration: none;
  color: #fe8c00;
  font-size: 13px;
  padding: 9px;
}
.sub-menu {
  font-size: 15px;
  padding: 4px;
}
li > a > i {
  font-size: 30px;
    color: #fe8c00;
    padding: 3px;
}
.lili {
  text-align: right;
}

a {
  text-decoration: none;
}

}

.sideshadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.rightside {
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.rightside2 {
  padding: 24px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.pp {
  color: #999;
  font-weight: 300;
  font-size: 0.81rem;
  display: block;
}
